.wrapper {
    width: 1024px;
    margin: 0 auto;
}

.header-avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.header-img {
    border-radius: 50%;
    border: 6px solid #0D58A6;
}
.header-name {
}

h2 {
    color: #0D58A6;
}