body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
}
h1 {
    margin-left: 50px;

    font-size: 30px;
    font-style: italic;
}
h2 {
    color: #0D58A6;
    font-style: italic;
    font-size: 16px;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
}

.header-avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.header-img {
    border-radius: 50%;
    border: 6px solid #0D58A6;
}

section {
    margin-top: 30px;
}